

.transparent-pane {
    -fx-background-color: rgba(78,154,248, 0.1);
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-font-family: 'San Francisco';
}

.main-stack{
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-font-family: 'San Francisco';
}

.transparent-text-field {
    -fx-background-color: rgba(255, 255, 255, 0.7);
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #000000;
    -fx-border-width: 0.2;
}

.text-labels{
    -fx-font-family: 'San Francisco';
}

.transparent-button {
    -fx-background-color: rgba(255, 255, 255, 0.7);
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #000000;
    -fx-border-width: 0.2;
}

.transparent-button:hover {
    -fx-background-color: rgba(78,154,248, 0.1);
}